body {
    height: 100vh;
    background: #fafafa;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.bodyy {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.label {
    font-size: 38px;
    font-weight: bold;
    color: #ffe4aa;
    justify-content: center;
}

.wrap {
    width: 900px;
    margin: auto;
    justify-content: center;
}

#input {
    width: 400px;
}

#btn {
    width: 90px;
    height: 25px;
    background-color: rgb(245, 233, 182);
    border: 2px dotted #f7eaa5;
    border-radius: 5px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    height: 600px;
    width: 900px;
}

#result {
    margin-bottom: 50px;
}

.btn {
    background: #faf892;
    border: none;
    color: #fafafa;
    margin-left: 0;
    padding: 10px;
    cursor: pointer;
    position: relative;
    z-index: 10;
}

.li {
    padding: 5px 8px;
    background: #fafafa;
    border: none;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 5;
    text-transform: capitalize;
}

.li-active {
    background: #beb27c;
    color: #fff;
    text-decoration: line-through;
}

.li-active .btn {
    color: #fff;
    text-decoration: line-through;
    background: #a89a5d;
}